node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
secrets.js
firebase/config.js
node_modules
functions/node_modules/*
screens/TestScreen.js
firestore.rules
